.filter-action {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

.album-header-filter {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  background: #fafafa;
  border-radius: 3px;
  padding: 7px;
  align-items: center;
}

.album-section {
  margin: 2%;
}

.album-heading-section {
  display: flex;
}

.album-sub-heading {
  padding-left: 15px;
  align-items: center;
  padding-top: 10px;
}

.album-details {
  display: flex;
  margin: 2%;
  justify-content: space-between;
  background: #fafafa;
  padding: 2%;
  border-radius: 5px;
}
.photo-section-table {
  margin: 2%;
}
.photo-details-card-body {
  display: flex;
  padding: 2%;
}
